.container {
    height: 300px;
    background-color: #15172b;
    box-shadow: 0px 0px 10px rgba(102, 112, 133, 0.15);
    border-radius: 8px;
    border: 1px solid #15172b;
    margin-top: 15px;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-left: 15px;
}

.container:hover {
    transform: scale(1.05);
}
.header{
    display: flex;
    justify-content: space-between;
}

.eventContent {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.fontTitle {
    color: white;
    font-size: 20px;
    font-family: 'Inter-Bold';
}

.fontDescription {
    color: white;
    font-size: 14px;
    margin-top: 10px;
    max-height: 130px;
    overflow: auto;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.date {
    color: #6c757d;
    font-size: 12px;
}

.participants {
    color: #6c757d;
    font-size: 12px;
}

.containerButton {
    margin-left: 5px;
    padding: 5px 10px;
    background-color:#ff5858 ;
    color: #fff;
    border : none ;
    cursor : pointer ;
    border-radius: 5px;
}

@media screen and (max-width: 2570px) {
    .container{
        width: 300px;
        height: 400px;
    }
}

@media screen and (max-width: 380px) {
    .container{
        width: 270px;
    }
}

@media screen and (max-width: 330px) {
    .container{
        width: 225px;
    }
}

@media screen and (max-height: 720px) {
    .container{
        height: 320px;
    }
}

@media screen and (max-height: 710px) {
    .container{
        height: 270px;
    }
}
