.containerNavbar {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #15172b;
    border-radius: 8px;
    border: 1px solid #15172b;
    padding: 20px; 
    height: 100%;
}

.containerNavbar > a:last-child {
    margin-top: auto; 
}

.containerNavbar > a {
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.containerNavbar > a:hover {
    color: #1992A6;
}

.containerNavbar > a p {
    margin: 0; /* Supprime la marge par défaut du paragraphe */
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}
