.backGroud {
    position: fixed;
    background-color: #000000;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 40%;
    z-index: 1;
}

.FondFiltre {
    width: 800px ;
    height: 500px;
    background-color: #15172b;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #15172b;
    display: flex;
    border-radius: 8px;
    box-shadow: 0px 0px 15px #0000000D;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sectionPlacement {
  margin-left: 25px;
}

.pPlacement {
  margin-top: 10px;
}

.buttonStyle{
  width: 40px;
  height: 40px;
  margin : 10px;
}

.buttonDeleteStyle {
  transform: translate(207px , -45px);
  width: 40px;
  height: 40px;
}

.spanPlacement {
  margin-right: 10px;
}

.inputContainer {
    height: 50px;
    position: relative;
    width : 255px;
  }
  
  .ic1 {
    margin-top: 20px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 2px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 46px;
  }
  
  .cutShort {
    width: 50px;
  }
  
  .iLabel {
    color: #65657b;
    font-family: sans-serif;
    left: 2px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 16px;
  }

  .divHeader {
    display: flex;
    justify-content: space-between;
  }

  .sectionContainer {
    display: flex;
    gap: 10px;
  }

  .sectionList {
    position: fixed;
    max-height: 100px;
    overflow: auto;
    width: 25vh;
    list-style-type: none;
    padding: 0;
  }

  .h1Font{
    font-size: 20px;
    font-weight: bold;
    width: 225px;
    border-bottom: 2px solid #333;
  }

  .liFont{
    margin-top: 5px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
  }

  .buttonList {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #ff5858 ;
    color : #fff;
    border: none ;
    cursor : pointer ;
    border-radius: 5px;
  }

  .footerSection {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .input:focus ~ .cut {
    transform: translateY(0px);
  }
  
  .iLabel {
    transform: translateY(-30px) translateX(5px) scale(0.75);
  }
  
  .input:not(:focus) ~ .iLabel {
    color: #808097;
  }
  
  .input:focus ~ .iLabel {
    color: #dc2f55;
  }

  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 95%;
  }

  .textarea {
    width: 600px;
    height: 600px; 
    max-width: 600px;
    max-height: 200px;
    margin-top: 10px;
    resize: none;
  }
  
  .submit:active {
    background-color: #0066bb;
  }

  @media screen and (max-width: 770px) {
    .FondFiltre{
        width: 400px;
    }
    
    .sectionContainer{
      display: flex;
      flex-direction: column;
      height: 270px;
    }

    .textarea{
      height: 50px;
      width: 350px;
    }
}

  @media screen and (max-width: 400px) {
    .FondFiltre{
        width: 200px;
    }

    .textarea{ 
      height: 50px;
      width: 150px;
    }

    .input {
      width: 150px;
      margin : 0 ;
    }

    .sectionList{
      overflow: auto;
      min-height: 20px;
      padding-right: 25px;
    }

    .h1Font{
      font-size: 15px;
    }

    .buttonList{
      margin-bottom: 10px;
    }
}