.container {
    width: 18%;
    min-width: 180px;
    height: 200px;
    background-color: #15172b;
    box-shadow: 0px 0px 10px rgba(102, 112, 133, 0.15);
    border-radius: 8px;
    border: 1px solid #15172b;
    margin-top: 15px;
    cursor: pointer;
    transition: transform 0.2s ease;
    display: flex; 
    justify-content: space-between;
    flex-direction: column;
}

.container:hover {
    transform: scale(1.05);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.containerCard {
    margin-top: 40px;
}

.fontTitle {
    color: white;
    font-size: 22px;
    font-family: 'Inter-Bold';
    text-align: center;
}

.fontDescription {
    color: white;
    font-size: 24px;
    font-family: 'Inter-Bold';
    text-align: center;
    margin-top: 40px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.date,
.participants {
    color: #6c757d;
    font-size: 14px;
}

.negative {
    color: white;
    font-size: 24px;
    font-family: 'Inter-Bold';
    text-align: center;
    color: red;
}

.positive {
    color: white;
    font-size: 24px;
    font-family: 'Inter-Bold';
    text-align: center;
    color: green;
}

.balanceLabel {
    font-size: 16px;
    text-align: center;
}


@media screen and (max-width: 360px) {
    .eventContent {
        margin-left: 10px;
    }
  }