.backGroud {
    position: fixed;
    background-color: #000000;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 40%;
    z-index: 1;
}

.FondFiltre {
    width: 1000px;
    height: 500px;
    background-color: #15172b;
    border: 1px solid #15172b;
    border-radius: 8px;
    box-shadow: 0px 0px 15px #0000000D;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sectionContainer {
  margin-left: 25px;
}

.pPlacement {
  margin-top: 10px;
}

.sectionFooterContainer {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.buttonDeleteStyle {
  width: 40px;
  height: 40px;
  margin : 10px
}

.divHeaderContainer {
  display: flex;
  justify-content: space-between;
}

.divContainer {
  display: flex;
  gap: 10%;
}

.textarea {
  width: 600px;
  height: 600px;
  margin-top: 10px;
  resize: none;
}

.inputContainer {
    height: 50px;
    position: relative;
    width : 255px;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 2px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 46px;
  }
  
  .cutShort {
    width: 50px;
  }
  
  .iLabel {
    color: #65657b;
    font-family: sans-serif;
    left: 2px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 16px;
  }
  
  .input:focus ~ .cut {
    transform: translateY(0px);
  }
  
  .iLabel {
    transform: translateY(-30px) translateX(5px) scale(0.75);
  }
  
  .input:not(:focus) ~ .iLabel {
    color: #808097;
  }
  
  .input:focus ~ .iLabel {
    color: #dc2f55;
  }

  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 95%;
  }

  @media screen and (max-width: 3000px) {
    .FondFiltre {
      width: 1000px;
    }

    .textarea {
      width: 600px;
      height: 200px;
    }

    .inputContainer{
      width: 300px;
    }
  }

  @media screen and (max-width: 800px) {
    .FondFiltre {
      width: 500px;
    }

    .textarea {
      width: 400px;
      height: 200px;
    }

    .inputContainer{
      width: 200px;
    }
  }

  @media screen and (max-width: 450px) {
    .FondFiltre {
      width: 250px;
    }

    .textarea {
      width: 200px;
      height: 200px;
    }

    .inputContainer{
      width: 200px;
    }
  }