.backGroud {
    position: fixed;
    background-color: #000000;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 40%;
    z-index: 1;
}

.FondFiltre {
    width: 1000px;
    height: 500px;
    background-color: #15172b;
    border: 1px solid #15172b;
    border-radius: 8px;
    box-shadow: 0px 0px 15px #0000000D;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  padding-left: 10px ;
}

.contentContainer {
  margin-left: 30px;
  width: 800px;
  display: flex;
  justify-content: space-between;
}

.footerContainer {
  margin-top: 20px;
}

.inputContainer {
    height: 50px;
    position: relative;
    width : 255px;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 2px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 46px;
  }

  .listUl {
    margin: 15px 45px 0 0 ;
    position: fixed;
    max-height: 30vh;
    overflow: auto;
    width: 25vh;
    list-style-type: none;
    padding: 0;
  }
  
  .cutShort {
    width: 50px;
  }
  
  .iLabel {
    color: #65657b;
    font-family: sans-serif;
    left: 2px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 16px;
  }
  
  .input:focus ~ .cut {
    transform: translateY(0px);
  }
  
  .iLabel {
    transform: translateY(-30px) translateX(5px) scale(0.75);
  }
  
  .input:not(:focus) ~ .iLabel {
    color: #808097;
  }
  
  .input:focus ~ .iLabel {
    color: #dc2f55;
  }

  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 95%;
  }
  
  .submit:active {
    background-color: #06b;
  }

  /* Styles for Select */
.select-container {
  height: 50px;
  width: 255px;
  position: relative;
  margin-top: 40px;
}

.select {
    height: 100px;
    width: 255px;
    background-color: #303245;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 14px;
    color: white;
    white-space: nowrap; 
    overflow: hidden; 
}
.select-container::after {
  content: '\25BC'; 
  font-size: 20px;
  color: #65657b;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none;
}

.select:focus {
  outline: none;
}

/* Styles for Dropdown Options */
.select-options {
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #303245;
  border-radius: 0 0 12px 12px;
  box-shadow: 0px 0px 15px #0000000D;
  z-index: 3;
}

.pPlacement {
  margin-top: 10px;
}

.buttonStyle{
  width: 40px;
  height: 40px;
  margin : 10px
}

.buttonDelete {
  transform: translate(207px,-45px);
  width: 40px;
  height: 40px;
}

.h1Font {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}

.divContainer {
  height: 100px ;
  width: 255px ;
  margin-top: 10px;
}

.spanPlacement {
  margin-right: 10px;
}

.buttonSubmitContainer {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.buttonStyleParticipate {
  margin-left: 5px ;
  padding: 5px 10px ;
  background-color:#ff5858;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.listStyle {
  margin-top: 5px ;
  padding : 10px ; 
  border-bottom: 1px solid #ccc;
  display :flex ;
  justify-content: space-between;
}

.option {
  color: #eee;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.translateImg {
  transform: translate(225px , -35px);
}

.option:hover {
  background-color: #15172b;
}


@media screen and (max-width: 2570px) {
  .FondFiltre{
      width: 1000px;
      height: 500px;
  }
}

@media screen and (max-width: 770px) {
  .FondFiltre{
      width: 500px;
      height: 500px;
  }

  .contentContainer {
    width: 200px;
  }

  .input {
    width: 150px;
  }

  .select {
    width: 150px;
  }

  .translateImg{
    transform: translate(120px , -35px);
  }
}


@media screen and (max-width: 430px) {
  .FondFiltre{
      width: 300px;
      height: 500px;
  }

  .contentContainer {
    width: 100px;
    margin-left: 10px ; 
  }

  .input {
    width: 100px;
  }

  .select {
    width: 100px;
  }

  .translateImg{
    transform: translate(80px , -35px);
  }

  .leftContentContainer{
    width: 100px;
    margin-right: 10px;
  }
}
